@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 0;
}

@media screen and (max-width: 1440px) {
    body{
        background-color: hsl(0, 0%, 95%);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15%;
    }

    .card{
        background-color: white;
        border-radius: 8px;
        height: 350px;
        width: 700px;
        display: flex;
    }

    .frame{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }


    .card .frame.sedans{
        background-color: hsl(31, 77%, 52%);
        border-bottom-left-radius: 8px;
        border-top-left-radius: 8px;
    }

    .card .frame.suvs{
        background-color: hsl(184, 100%, 22%);
    }

    .card .frame.luxuary{
        background-color: hsl(179, 100%, 13%);
        border-bottom-right-radius: 8px;
        border-top-right-radius: 8px;
    }

    img{
        height: 50px;
        width: 50px;
        margin-left: 20px;
        margin-top: 15px;
    }

    p{
        font-size: 15px;
        font-weight: 400;
        color: hsla(0, 0%, 100%, 0.75);
        margin-left: 20px;
        margin-right: 20px;
    }

    h3{
        font-family: 'Big Shoulders Display', sans-serif;
        color: hsl(0, 0%, 95%);
        font-size: 25px;
        font-weight: 700;
        margin-left: 20px;
    }

    button{
        font-weight: 400;
        background-color: hsl(0, 0%, 95%);
        border-radius: 90px;
        border: none;
        margin-bottom: 25px;
        margin-left: 20px;
        width: 100px;
        height: 35px;
    }

    .sedans button{
        color: hsl(31, 77%, 52%);
    }

    .sedans button:active{
        background: hsl(31, 77%, 52%);
        border: solid 1px hsl(0, 0%, 95%);
        color: hsl(0, 0%, 95%);
    }

    .suvs button{
        color: hsl(184, 100%, 22%);
    }

    .suvs button:active{
        background: hsl(184, 100%, 22%);
        border: solid 1px hsl(0, 0%, 95%);
        color: hsl(0, 0%, 95%);
    }

    .luxuary button{
        color: hsl(179, 100%, 13%);
    }

    .luxuary button:active{
        background: hsl(179, 100%, 13%);
        border: solid 1px hsl(0, 0%, 95%);
        color: hsl(0, 0%, 95%);
    }

}